<div class="container" >
   <h2>All Images</h2>
   <div class="images-view" >
      <div *ngFor="let meme of memeData" style="display:block; text-align:center; padding-top: 20px;">

         <img src="{{ROOT_MEME_URL}}/{{meme.path}}" style="width:600px; height:600x; border: 5px solid #555;"/>
         <div class="like" style="padding-top: 5px; text-align: left;">
            
            <button #liked class="btn blue" style="margin-left: 21%;padding-bottom: 2px;" (click)="onLikeClick(meme.imageId,liked)">Like</button>
         </div>
         <div class="comment" style="text-align: left; margin-left: 21%;">
            Comment:
            <input #commentText type="text" style="padding-bottom: 0px; margin-bottom: 0px; width: 53%;" placeholder="Write comment..."/>
            <button class="btn" (click)="onComment(commentText.value,meme.imageId)">Post</button>
         </div>         
         <!-- <p>{{meme.path}}</p> -->
      </div>
   </div>
   
</div>
